@primary-color: #409eff;
@primary-background-color: #ecf5ff;
/** codemirror */
@import './codemirror/codemirror.css';
@import './codemirror/merge.css';
@import './codemirror/lint.css';
@import './mixin.less';

.freedom-main {
  background: #fff;
  height: 100vh;

  .module-container {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    .set_scrollbar(8px, pink);
    .widget-list-title {
      font-size: 18px;
      font-weight: 600;
    }

    .widget-cate {
      padding: 8px 0;
      font-size: 13px;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    .widget-edit-label {
      &.long-label {
        width: 100%;
      }
      font-size: 12px;
      width: 48%;
      line-height: 26px;
      color: #333;
      border: 1px solid #f4f6fc;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: move;

      &:hover {
        color: @primary-color;
        border: 1px dashed @primary-color;

        a {
          color: @primary-color;
        }
      }
      span {
        margin-left: 3px;
      }
    }
  }
}
