@primary-color: #409eff;
@primary-background-color: #ecf5ff;
/** codemirror */
@import './merge.css';
@import './codemirror.css';
@import './lint.css';

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fa-icon {
  width: auto;
  height: 1em; /* 或任意其它字体大小相对值 */

  /* 要在 Safari 中正常工作，需要再引入如下两行代码 */
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.primary-color {
  color: #409eff;
}
.text-align-right {
  text-align: right;
}
.page-tag {
  padding: 2px 4px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  border: 1px solid #eee;
  color: #409eff;
  z-index: 100;
  background: #fff;
  &.page-index {
    top: 0;
    left: 0;
  }
}
.widget-tag {
  cursor: pointer;
  padding-left: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  border: 1px solid #eee;
  color: #409eff;
  z-index: 8;
  background: #fff;
}
.freedom-main {
  background: #fff;
  height: 100vh;

  .el-container {
    height: 100% !important;
  }

  .config-model {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  & > .el-container {
    background: #fff;
  }
  .freedom-content-main {
    position: relative;

    & > .el-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  main {
    padding: 0;
  }

  footer {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    text-align: right;
    color: @primary-color;
    background: #fafafa;

    a {
      color: @primary-color;
    }
  }

  .widget-item {
    max-height: 200px;
  }

  .config-container {
    padding: 10px;
  }

  .report-table {
    width: 100%;
    table-layout: fixed;

    .report-table-td {
      padding: 5px;

      .el-form-item:not(.is-error) {
        margin-bottom: 0;
      }

      .el-form-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .el-form-item__content {
          flex: 1;
          width: 100%;
          margin-left: 0 !important;
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      .form-table {
        .el-form-item:not(.is-error) {
          margin-bottom: 18px;
        }

        .el-form-item--medium {
          &.el-form-item:not(.is-error) {
            margin-bottom: 22px;
          }
        }
      }
    }
  }

  .center-container {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    flex: 1;
    .btn-bar {
      height: 45px;
      line-height: 45px;
      font-size: 18px;
      border-bottom: solid 2px #e4e7ed;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      /deep/ .el-button {
        margin-left: 15px !important;
      }
      .header-left,
      .header-right {
        display: flex;
        align-items: center;
      }
    }

    .el-main {
      padding: 0;
      position: relative;
      background: #fafafa;
      overflow: hidden;
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ccc;
      }
      &.active {
        outline: 1px solid @primary-color;
      }
    }
  }

  .widget-list-title {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .components-list {
    height: 100%;
    width: 250px;
    min-width: 250px;
    padding: 3px 0;
    padding-bottom: 20px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #ccc;
    }

    .foot-bar {
      width: 250px;
      position: absolute;
      bottom: 0;
      font-size: 12px;
      padding: 5px 10px;
      background: rgba(244, 244, 244, 1);
      color: #409eff;
      border-top: 1px solid #eee;
    }

    .widget-cate {
      padding: 8px 12px;
      font-size: 13px;
    }

    ul {
      position: relative;
      overflow: hidden;
      padding: 0 10px 10px;
      margin: 0;
    }

    .el-tabs__header {
      margin: 0;
    }

    .widget-edit-label {
      &.long-label {
        width: 100%;
      }
      font-size: 12px;
      display: block;
      width: 48%;
      line-height: 26px;
      position: relative;
      float: left;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 1%;
      color: #333;
      border: 1px solid #f4f6fc;

      a {
        color: #333;
      }

      .widget-pick-item {
        display: flex;
        align-items: center;
      }

      .widget-pick-demo {
        flex: 1;
        text-align: right;
      }

      &:hover {
        color: @primary-color;
        border: 1px dashed @primary-color;

        a {
          color: @primary-color;
        }
      }

      & > a {
        display: flex;
        align-items: center;
        cursor: move;
        background: rgba(233, 233, 233, 0.1);
        border: 1px solid #f4f6fc;
        .el-icon {
          margin: 0 4px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .page-container {
    height: 100%;
    .widget-header {
      padding: 5px 10px;
      font-size: 14px;
      border-bottom: 1px solid #ddd;
    }

    .form-empty,
    .page-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 300px;
      height: 20px;
      font-size: 20px;
      top: 40%;
      width: 100%;
      margin-top: -10px;
      color: #ccc;
    }

    form {
      height: 100%;

      > div {
        height: 100%;
      }
    }

    .page-index-dragarea {
      height: 100%;
      padding: 5px;
      position: relative;
    }

    .widget-list {
      &.active {
        outline: 2px solid @primary-color;
        border: 1px solid @primary-color;
      }
    }

    .widget-form-list {
      background: #fff;
      height: 100%;
      min-height: 150px;
      margin: 0;
      border: 0;
      padding: 0 5px;
    }

    .widget-list {
      background: #fff;
      // border: 1px dashed #999;
      border: 1px inset rgba(0, 0, 0, 0.1);
      min-height: 100%;
      margin: 10px;

      &.page-index {
        padding: 20px 5px 60px 5px;
        height: 100%;
        margin: 0;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar {
          width: 6px;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #ccc;
        }
        &.active {
          outline: 1px solid @primary-color;
        }
      }

      .widget-empty {
        position: absolute;
        text-align: center;
        width: 300px;
        height: 20px;
        font-size: 16px;
        top: 15px;
        left: 50%;
        margin-left: -150px;
        color: rgba(0, 0, 0, 0.15);
      }

      .widget-view-model {
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 12px;
        color: #67c23a;
        // opacity: 0.8;
        z-index: 9;
        font-weight: 500;
      }

      .widget-col-list {
        min-height: 50px;
        border: 2px inset rgba(0, 0, 0, 0.1);
        background: #fff;
        height: 100%;
      }

      .widget-dialog-col-list {
        min-height: 150px;
        padding: 5px;
        padding-bottom: 20px;
        border: 1px inset rgba(0, 0, 0, 0.1);
        background: #fff;
        height: 100%;
      }

      .widget-card-header-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3px;
        width: 100%;
        min-height: 100px;
        border: 2px dotted rgba(0, 0, 0, 0.1);
        background: inherit;
        height: 70px;
        min-height: 70px;
        .tools-item {
          display: inline-block;
          .widget-view {
            height: 60px;
          }
        }
      }

      .widget-card-list {
        padding: 3px;
        width: 100%;
        min-height: 100px;
        border: 2px dotted rgba(0, 0, 0, 0.1);
        background: inherit;
        display: block;
        height: 100%;
      }

      .widget-tools-list {
        padding: 3px;
        width: 100%;
        min-height: 100px;
        border: 2px dotted rgba(0, 0, 0, 0.1);
        background: inherit;
        display: block;
        height: 100%;
        .tools-item {
          display: inline-block;
        }
      }

      .tag {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #409eff;
        font-size: 12px;
        padding: 3px;
        border: 1px dotted #ccc;
        z-index: 1000;
      }

      .line-divider {
        height: 1px;
        margin: 5px 0;
        background: #ccc;
      }

      .widget-view {
        position: relative;
        z-index: 10;
        border: 1px dashed rgba(170, 170, 170, 0.5);
        background-color: rgba(236, 245, 255, 0.3);
        margin-top: 0;
        margin-bottom: 3px;
        padding: 8px 0;
        overflow: hidden;

        &.have-tag {
          padding-top: 18px;
        }

        &::before {
          display: block;
          content: '';
          background: none;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 10;
        }

        &.no-mask {
          &::before {
            display: none;
          }
        }

        .el-form-item__content {
          position: static;
        }

        &.is_req {
          .el-form-item__label::before {
            content: '*';
            color: #f56c6c;
            margin-right: 4px;
          }
        }

        &.is_hidden {
          background: #fef0f0;
        }

        .widget-view-description {
          height: 15px;
          line-height: 15px;
          font-size: 13px;
          margin-top: 6px;
          color: #909399;
        }

        .widget-view-action {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 28px;
          line-height: 28px;
          background: @primary-color;
          z-index: 10;

          i {
            font-size: 14px;
            color: #fff;
            margin: 0 5px;
            cursor: pointer;
          }
        }

        .widget-view-drag {
          position: absolute;
          left: -2px;
          top: -2px;
          bottom: -18px;
          height: 28px;
          line-height: 28px;
          background: @primary-color;
          z-index: 10;
          // display: none;

          i {
            font-size: 14px;
            color: #fff;
            margin: 0 5px;
            cursor: move;
          }
        }

        &::after {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: none;
          z-index: 8;
          content: '';
        }

        &:hover {
          background: @primary-background-color;
          border: 1px solid @primary-color;

          &.active {
            outline: none;
            border: 1px solid @primary-color;
          }

          .widget-view-drag {
            display: block;
          }
        }

        &.active {
          border: 1px solid @primary-color;
        }

        &.ghost {
          background: #f56c6c;
          border: 1px solid #f56c6c;
          outline-width: 0;
          height: 3px;
          box-sizing: border-box;
          font-size: 0;
          content: '';
          overflow: hidden;
          padding: 0;
          margin: 2px;
        }
      }

      .widget-form-container {
        padding-bottom: 0px;
        background: #fff;
        .el-form {
          background: #fff;
          .drag-form-area {
            min-height: 150px;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar {
            width: 4px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #ccc;
          }
        }
      }

      .widget-table {
        padding-bottom: 0;
        padding: 5px;
        background-color: rgba(253, 246, 236, 0.3);

        .widget-table-wrapper {
          min-height: 50px;
          background: #fff;
          display: flex;
          justify-content: flex-start;

          .widget-table-row {
            td {
              border-bottom: 0;
            }
          }

          .widget-table-left {
            width: 51px;
            border-left: 1px solid #ebeef5;
            border-right: 1px solid #ebeef5;
            border-top: 1px solid #ebeef5;
            flex: none;
            overflow: hidden;

            .el-table__body-wrapper {
              overflow: hidden;
            }

            .el-table__fixed {
              min-height: 88px !important;
            }
          }

          .widget-table-view {
            border: 1px solid #ebeef5;
            width: 200px;
            float: left;
            height: 100%;
            position: relative;
            display: block;

            .el-table {
              height: 100%;
            }

            .el-table th.required > div::before {
              content: '*';
              color: #f56c6c;
              margin-right: 4px;
              background: transparent;
              vertical-align: top;
            }

            &.is_req {
              .el-form-item__label::before {
                content: '*';
                color: #f56c6c;
                margin-right: 4px;
              }
            }

            &.is_hidden {
              background: #fef0f0;
            }

            .widget-view-description {
              height: 15px;
              line-height: 15px;
              font-size: 13px;
              margin-top: 6px;
              color: #909399;
            }

            .widget-view-action {
              position: absolute;
              right: 0;
              bottom: 0;
              height: 28px;
              line-height: 28px;
              background: @primary-color;
              z-index: 10;

              i {
                font-size: 14px;
                color: #fff;
                margin: 0 5px;
                cursor: pointer;
              }
            }

            .widget-view-drag {
              position: absolute;
              left: -2px;
              top: -2px;
              bottom: -18px;
              height: 28px;
              line-height: 28px;
              background: @primary-color;
              z-index: 9;
              // display: none;

              i {
                font-size: 14px;
                color: #fff;
                margin: 0 5px;
                cursor: move;
              }
            }

            &:hover {
              background: @primary-background-color;
              outline: 1px solid @primary-color;
              outline-offset: -1px;

              &.active {
                // outline: 1px solid @primary-color;
                border: 1px solid @primary-color;
                outline: 1px solid @primary-color;
                outline-offset: -1px;
              }

              .widget-view-drag {
                display: block;
              }
            }

            &.active {
              outline: 1px solid @primary-color;
              border: 1px solid @primary-color;
              outline-offset: -1px;
            }

            &.ghost {
              background: #f56c6c;
              outline-width: 0;
              width: 5px !important;
              box-sizing: border-box;
              font-size: 0;
              content: '';
              overflow: hidden;
              padding: 0;
              position: relative;
              outline: none !important;
              border: 0 !important;
              margin: 2px;

              &::after {
                background: #f56c6c;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 9999;
                content: '';
                outline: none;
              }
            }
          }

          .widget-table-content {
            width: 100%;
            border: 2px inset rgba(0, 0, 0, 0.1);
            // outline: 1px dashed #ccc;
            background: #fff;
            flex: 1;
            margin: 0;
            overflow: auto;
            position: relative;

            .table-empty {
              position: absolute;
              text-align: center;
              width: 300px;
              height: 20px;
              font-size: 16px;
              top: 30px;
              left: 50%;
              margin-left: -150px;
              color: rgba(0, 0, 0, 0.15);
            }

            & > div {
              height: 100%;
            }

            .widget-table-col {
              height: 100%;
              .ghost {
                background: #f56c6c;
                // border: 2px solid #F56C6C;
                position: relative;
                content: '';
                float: left;
                height: calc(100% - 4px);
                width: 5px !important;
                list-style: none;
                font-size: 0;
                overflow: hidden;
                outline: none;
                margin: 2px;

                &::after {
                  background: #f56c6c;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  z-index: 9999;
                  content: '';
                  outline: none;
                }
              }
            }
          }
        }

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
        }

        &:hover {
          background: #fdf6ec;
          outline: 1px solid #e6a23c;
          outline-offset: 0px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: 0;
          }
        }

        .widget-view-action.widget-col-action {
          background: #e6a23c;
        }

        .widget-view-drag.widget-col-drag {
          background: #e6a23c;
        }

        &::after {
          display: none;
        }

        &.ghost {
          background: #f56c6c;
          outline-width: 0;
          height: 5px;
          box-sizing: border-box;
          font-size: 0;
          content: '';
          overflow: hidden;
          padding: 0;
          position: relative;
          outline: none;
          border: 0;
          margin: 2px;

          &::after {
            background: #f56c6c;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            display: block;
            z-index: 999;
          }
        }
      }

      .widget-report-item {
        padding: 5px;
        background-color: rgba(253, 246, 236, 0.3);
        min-height: 50px;
        min-width: 50px;
        position: relative;
        box-sizing: border-box;

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: -1px;
        }

        &:hover {
          background: #fdf6ec;
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: -1px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: -1px;
          }
        }

        &::after {
          display: none;
        }
      }

      .widget-report {
        padding: 5px;
        // padding-bottom: 5;
        background-color: rgba(253, 246, 236, 0.3);
        box-sizing: border-box;

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
        }

        &:hover {
          background: #fdf6ec;
          outline: 1px solid #e6a23c;
          outline-offset: 0px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: 0;
          }
        }

        &.ghost {
          background: #f56c6c;
          border: 2px solid #f56c6c;
          outline-width: 0;
          height: 3px;
          box-sizing: border-box;
          font-size: 0;
          content: '';
          overflow: hidden;
          padding: 0;
          margin: 2px;
        }

        .widget-view-action.widget-col-action {
          background: #e6a23c;
        }

        .widget-view-drag.widget-col-drag {
          background: #e6a23c;
        }

        &::after {
          display: none;
        }
      }

      .widget-tab {
        padding: 5px;
        background-color: rgba(253, 246, 236, 0.3);
        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
        }

        &:hover {
          background: #fdf6ec;
          outline: 1px solid #e6a23c;
          outline-offset: 0px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: 0;
          }
        }

        &.ghost {
          background: #f56c6c;
          border: 2px solid #f56c6c;
          outline-width: 0;
          height: 3px;
          box-sizing: border-box;
          font-size: 0;
          content: '';
          overflow: hidden;
          padding: 0;
          margin: 2px;
        }

        .widget-view-action.widget-col-action {
          background: #e6a23c;
        }

        .widget-view-drag.widget-col-drag {
          background: #e6a23c;
        }

        &::after {
          display: none;
        }
      }

      .widget-col {
        padding-bottom: 0;
        padding: 10px;
        // margin-left: 2px !important;
        // margin-right: 2px !important;
        background-color: rgba(253, 246, 236, 0.3);
        position: relative;

        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
        }

        &:hover {
          background: #fdf6ec;
          outline: 1px solid #e6a23c;
          outline-offset: 0px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: 0;
          }
        }

        .el-col {
          min-height: 50px;
          min-width: 50px;
        }

        &.ghost {
          background: #f56c6c;
          border: 2px solid #f56c6c;
          outline-width: 0;
          height: 3px;
          box-sizing: border-box;
          font-size: 0;
          content: '';
          overflow: hidden;
          padding: 0;
          margin: 2px;
          display: block;
        }

        .widget-view-action.widget-col-action {
          background: #e6a23c;
        }

        .widget-view-drag.widget-col-drag {
          background: #e6a23c;
        }

        &::after {
          display: none;
        }
      }

      .widget-col-item {
        padding: 5px;
        position: relative;
        box-sizing: border-box;
        border: 1px dashed #999;
        margin: 1px 10px;
        height: 100%;
        &.active {
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: -1px;
        }

        &:hover {
          background: #fdf6ec;
          outline: 2px solid #e6a23c;
          // border: 1px solid #e6a23c;
          outline-offset: -1px;

          &.active {
            outline: 2px solid #e6a23c;
            border: 1px solid #e6a23c;
            outline-offset: -1px;
          }
        }

        &::after {
          display: none;
        }
      }

      .ghost {
        background: #fff;
        border: 2px dotted #66b1ff;
        outline-width: 0;
        min-height: 60px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
        margin: 2px;
      }
    }

    .ghost {
      background: #f56c6c;
      border: 2px solid #f56c6c;
      position: relative;
      margin: 2px;

      &::after {
        background: #f56c6c;
      }
    }

    li.ghost {
      height: 5px;
      list-style: none;
      font-size: 0;
      overflow: hidden;
      margin: 2px;
    }

    .widget-grid {
      background: #f4f6fc;
      position: relative;
      border-left: 5px solid transparent;
      padding: 5px;
      margin: 0 !important;

      &.active {
        border-left: 5px solid @primary-color;
        background: #b3d8ff;
      }
    }

    .widget-grid-container {
      &.ghost {
        background: #f56c6c;
        border: 2px solid #f56c6c;
        outline-width: 0;
        height: 3px;
        box-sizing: border-box;
        font-size: 0;
        content: '';
        overflow: hidden;
        padding: 0;
        margin: 2px;
      }
    }

    .ghost {
      background: #f56c6c;
      border: 2px solid #f56c6c;
      position: relative;
      margin: 2px;

      &::after {
        background: #f56c6c;
      }
    }

    li.ghost {
      height: 5px;
      list-style: none;
      font-size: 0;
      overflow: hidden;
      margin: 2px;
    }
  }

  .widget-config-container {
    position: relative;

    .el-header {
      border-bottom: solid 2px #e4e7ed;
      padding: 0 5px;
    }

    .config-tab {
      height: 45px;
      line-height: 45px;
      display: inline-block;
      width: 95px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      cursor: pointer;

      &.active {
        border-bottom: solid 2px @primary-color;
      }
    }

    .config-content {
      position: relative;
      padding: 0;

      .empty {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 20px;
        font-size: 20px;
        top: 50%;
        width: 90%;
        margin-top: -10px;
        color: #ccc;
      }

      .el-form-item {
        .el-form-item__label {
          padding: 0;
          font-weight: 500;
          font-size: 15px;
          color: #000;
          border-bottom: 0;
        }
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar {
        width: 4px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ccc;
      }
    }

    .ghost {
      background: #fff;
      border: 1px dashed @primary-color;
      margin: 2px;

      &::after {
        background: #fff;
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li.ghost {
      list-style: none;
      font-size: 0;
      display: block;
      position: relative;
      margin: 2px;
    }
  }

  .viewer-container {
    z-index: 99999 !important;
  }

  .tip-text {
    font-size: 13px;
    color: orangered;
  }
}

.freedom-page {
  .report-table {
    width: 100%;
    table-layout: fixed;

    .report-table-td {
      padding: 5px;

      .el-form-item:not(.is-error) {
        margin-bottom: 0;
      }

      .el-form-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .el-form-item__content {
          flex: 1;
          width: 100%;
          margin-left: 0 !important;
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      .form-table {
        .el-form-item:not(.is-error) {
          margin-bottom: 18px;
        }

        .el-form-item--medium {
          &.el-form-item:not(.is-error) {
            margin-bottom: 22px;
          }
        }
      }
    }
  }
}

.freedom-card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebeef5;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 0;
  padding: 5px 15px;
  border-left: 5px solid #409eff;
}
.header-text {
  padding: 8px 0px;
  min-width: 100px;
}
.config-options-popover {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
// .selector-popper {
//   .el-select-dropdown__item {
//     line-height: normal;
//   }
// }
.cus-cascader-poper {
  .el-scrollbar {
    max-width: 180px;
  }
}
